  <p><%= comment.author %></p>
  <p><%= comment.body %></p>
  <p>
   <%= form_for comment do |com| %>
   <%= com.hidden_field :post_id, value: comment.post_id %>
   <%= com.hidden_field :comment_id, value: comment.id %>
   Votes: <%= comment.votes %><% if top_comment.votes < 50 && session[comment.id.to_s.to_sym] != true %> -
   <%= com.submit "+1", :name => "vote_type" %>
   <%= com.submit "-1", :name => "vote_type" %>
   <% end %>
   <% end %>
 </p>

