<li class="comment">

  <p><%= comment.author %></p>
  <p><%= comment.body %></p>
  <p>
   <form accept-charset="UTF-8" action="/comments/<%= comment.id %>" method="post">
      <input name="_method" type="hidden" value="put" />
      <input name="comment_id" type="hidden" value="<%= comment.id %>" />
      <input name="post_id" type="hidden" value="<%= comment.post_id %>" />
      Votes: <%= comment.votes %><% if top_comment.votes < 50 %><% if session[comment.post_id.to_s.to_sym] != true %> - <button name="vote_type" value="up" type="submit">+1</button> <button name="vote_type" value="down" type="submit">-1</button><% end %><% end %>
    </form>
  </p>

</li>

 <%= form_for comment do |com| %>
  <%= com.hidden_field :post_id, value: comment.post_id %>
  <%= com.hidden_field :comment_id, value: comment.id %>
  <%= com.submit  "up" %>
  <%= com.submit  "down" %>
  <% end %>