<%= link_to "Home", posts_path %>

<h2><%= @post.title %></h2>
<h3>by: <%= @post.author %></h3>
<div id="post_body"><%= @post.body %></div>
<% Comment.where("post_id = ?", @post.id).each do |comment| %>
<div class="comment">
<p><%= comment.author %></p>
<p><%= comment.body %></p>
</div>
<% end %>

<%= form_for @comment do |comment_form|  %>
  <%= comment_form.text_area :body %>
  <%= comment_form.text_field :author %>
  <%= comment_form.submit "Create" %>
<% end %>
