<%= link_to "Home", posts_path %>

<h2><%= @post.title %></h2>
<h3>By: <%= @post.author %></h3>
<div id="post_body"><%= @post.body %></div>

<% top_comment = @comments.first %>
<% if top_comment != nil %>
	<% if top_comment.votes >= 50 %>
		<h4>Voting on this post has closed.</h4>
	<% end %>
<% end %>

<ul>
	<% @comments.each do |c| %>
	<%= render "posts/comment", {comment: c, top_comment: top_comment} %>
	<% end %>
</ul>

<div class= "commenting">
	<%= form_for @comment, remote: true do |comment_form|  %>
	<%= comment_form.text_area :body, rows: 5, cols: 100, placeholder: "Serve this fool!"%><br>
	<%= comment_form.text_field :author, placeholder: "Who are you?" %>
	<%= comment_form.hidden_field :post_id, value: params[:id] %>
	<%= comment_form.submit "Your Dis" %>
	<% end %>
</div>
